body {
font-family: Helvetica;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 25px;
padding-left: 25px;
}

h1{
font-family: Helvetica;
}

p {
font-family: Helvetica;
}

.red {
color:#FF0000;
fonr-weight:bold;
}

.code {
border: 1px solid;
background-color: #f8f8f8;
border-radius: 3px;

}

.image {
width:900px;
height:300px;
}
.image2 {
width:900px;
height:500px;
}
